* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

button{
    cursor: pointer;
}

nav .container{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 9px;
    box-shadow: 0px 4px 4px #00000040;
}

nav .container .options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

nav .container .options .option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    cursor: pointer;
}

nav .container .sign-in{
    width: 92px;
    height: 34px;
    background: linear-gradient(180deg, rgb(129, 22, 154) 0%, rgb(85, 7, 155) 44.27%, rgb(65, 0, 152) 100%);
    border: transparent;
    border-radius: 10px;
    margin-right: 150px;
    font-family: "Martel Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
}

.main-hero{
    margin: 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-hero .banner{
    width: 1140px;
    height: 312px;  
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 0px 3px #00000040;
    /* text-align: center; */
}

.main-hero .banner .message{
    margin-left: 50px;
}

.main-hero .banner .message h2{
    font-family: "Open Sans Hebrew-Bold", Helvetica;
    font-weight: 700;
    color: #272329;
    font-size: 40px;
    letter-spacing: 0;
}

.main-hero .banner .message .short-messages{
    display: flex;
    align-items: center;
    gap: 20px;
}


.main-hero .banner .message .short-message{
    font-family: "Open Sans Hebrew-Regular", Helvetica;
    font-weight: 400;
    color: #55079b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}


.main-hero .banner .message button{
    border-radius: 10px;
    background: linear-gradient(180deg, rgb(129, 22, 154) 0%, rgb(85, 7, 155) 44.27%, rgb(65, 0, 152) 100%);
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    width: 275px;
    height: 42px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
    border: transparent;
}

.products{
    box-shadow: 0px 4px 4px #00000040;
    padding-bottom: 50px;
}

.products h3{
    margin: 30px 615px;
    font-family: "Open Sans Hebrew-Bold", Helvetica;
    font-weight: 700;
    color: #272329;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.products .products-catalog{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
    margin-top:50px;
}

.products .products-catalog .product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #272329;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;

}

.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 100px;
    padding-bottom: 60px;
}

.features .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ad{
    margin: 10px 150px;
    width: 1140px;
    height: 140px;
    padding-bottom: 45px;
}


.call-scheduler-container{
    width: 1140px;
    /* height: 620px; */
    margin: 50px auto;
    /* margin: 50px 150px; */
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 10px #00000040;
}

.call-scheduler-container h3{
    font-family: "Open Sans Hebrew-Bold", Helvetica;
font-weight: 700;
color: #272329;
font-size: 28px;
text-align: center;
letter-spacing: 0;
line-height: normal;
padding-top: 40px;
}

.call-scheduler-container .call-scheduler{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 10px; */
    margin-top: 50px;
}




.call-scheduler-container .call-scheduler form label{
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 400;
    color: #55079b;
    font-size: 14px;
    letter-spacing: 0;
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    width: 408px;
    height: 40px;   
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid;
    border-color: #272329;
}

input[type="radio"] {
    width: 15px;
    display: inline-block;
    vertical-align: middle;
}


input[type="submit"]{
width: 408px;
height: 40px;
color: white;
border-radius: 10px;
background: linear-gradient(180deg, rgb(129, 22, 154) 0%, rgb(85, 7, 155) 44.27%, rgb(65, 0, 152) 100%);
font-family: "Martel Sans-SemiBold", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
cursor: pointer;
line-height: normal;
}


.ratings{
    margin: 30px 373px;
    text-align: center;
}

.ratings h2{
    font-family: "Open Sans Hebrew-Bold", Helvetica;
    font-weight: 700;
    color: #272329;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.ratings h3{
    font-family: "Martel Sans-Bold", Helvetica;
    font-weight: 700;
    color: #55079b;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    margin-top: 44px;
    margin-bottom: 50px;
    line-height: normal;
}

.ratings h4{
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 400;
    color: #272329;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.review-header 
{
    margin: 60px 540px;
}

.review-header .JS-insurance{
    font-family: "Martel Sans-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 28px;
    letter-spacing: 0;
    /* margin: 40px 540px; */
    text-align: center;
    line-height: normal;
}

.review-header .text-wrapper{
    color: #55079b;
}

.review-header span{
    color: #272329;
}

.review-header .reviews{
    display: flex;
    align-items: center;
    justify-content: center;
}


.review-header .reviews .review{
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 400;
    color: #55079b;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;

    display: flex;
    flex-direction: column;
    gap: 10rem;

}

.companies{

width: 1140px;
height: 261px;
margin: 50px auto;
background-color: #ffffff;
border-radius: 15px;
box-shadow: 4px 4px 10px #00000040;
}

.companies h2{
    padding-top: 30px;
    margin-left: 370px;
    margin-right: 370px;
    font-family: "Martel Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--variable-collection-js-black);
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;

}

.companies .company-logos{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 45px;
}

.testimonials-container{
    width: 1140px;
height: 850px;
margin: 50px auto;
background-color: #ffffff;
border-radius: 15px;
box-shadow: 4px 4px 10px #00000040;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;

padding-bottom: 40px;
}

.testimonials-container h2{
    text-align: center;
    padding-top: 44px;
    padding-bottom: 50px;
}

.testimonials-container .testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-top: 60px;
}

.testimonials-container .testimonials .testimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-container .testimonials .testimony .customer-name{
    text-align: center;
    font-family: "Martel Sans-SemiBold", Helvetica;
font-weight: 600;
color: #55079b;
font-size: 22px;
letter-spacing: 0;
line-height: normal;
}

.testimonials-container .testimonials .testimony p{
    text-align: center;
    font-family: "Martel Sans-Regular", Helvetica;
font-weight: 400;
color: #272329;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: 30px;

}


.bottom-call{
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(180deg, rgb(129, 22, 154) 0%, rgb(85, 7, 155) 44.27%, rgb(65, 0, 152) 100%);
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    width: 275px;
    height: 45px;
    padding: 10px;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
    border: transparent;
}


.footer-bar{
    background: #55079B;
}

.footer-bar h3{
    color: white;
    padding-top: 65px;
    margin-left: 150px;
    
}

.footer-bar p{
    color: white;
    /* padding-top: 65px; */
    margin-left: 150px;
}

.footer-bar .copyright-text{
    margin: 10px 0px;
    text-align: center;
    font-family: "Martel Sans-Light", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    padding-bottom: 50px;
}


/* MOTOR INSURANCE PAGE */

.motor-banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.motor-banner .banner-message h1{
    font-size: 54px;
    color: #55079B;

}

.motor-banner .banner-message h1 span{
    font-size: 34px;
    color:#272329
}

.motor-banner .banner-message p{
    font-family: "Martel Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-js-black);
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 28px;
}

.motor-banner .banner-message .get-insured{
    padding: 5px 41px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgb(129, 22, 154) 0%, rgb(85, 7, 155) 44.27%, rgb(65, 0, 152) 100%);
    border-color: transparent;
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.motor-center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.motor-center .user-form{
    width: 560px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    text-align: center;
}

.motor-center .user-form h1{
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #272329;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.motor-center .user-form h3{
    font-family: "Martel Sans-Regular", Helvetica;
    font-weight: 400;
    color: 272329;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}


.motor-bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 125px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    margin-bottom: 50px;
    padding-bottom: 45px;
}

.motor-bottom .motor-bottom-message h1{
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 40px;
}

.motor-bottom .motor-bottom-message h1 span{
    color: #55079b;
}

.motor-bottom .motor-bottom-message p{
    font-family: "Martel Sans-Regular", Helvetica;
    font-weight: 400;
    color: #272329;
    font-size: 22px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;

}




















/* MEDIA QUERIES FOR MOBILE SCREEN AT 360PX */

@media screen and (max-width:500px) {

    nav .container img{
        width: 100px;
        height: 30px;
        /* margin-right: 50px; */
    }

    nav .container .options .sign-in{
        width: 58px;
        height: 18px;
        border-radius: 4px;
        font-family: "Martel Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #ffffff;
        font-size: 8px;
        letter-spacing: 0;
        margin-right: 16px;
    }

    nav .container .options .option{
        display: none;
    }

.main-hero{
    /* background-color: yellow; */
    /* /* width: 360px; */
    margin: 0 auto;
}


.main-hero .banner{
    margin: 20px 14px;
    width: 328px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 0px 3px #00000040;
    /* text-align: center; */
}

.main-hero .banner .message{
    margin-top: 20px;
    margin-left: 10px;
}

.main-hero .banner .message h2{
    font-size: 6px;
}

.main-hero .banner .message .short-messages{
    display: flex;
    align-items: center;
    gap: 2px;
}


.main-hero .banner .message .short-message{
    font-family: "Open Sans Hebrew-Regular", Helvetica;
    font-weight: 400;
    color: #55079b;
    font-size: 6px;
    letter-spacing: 0;
    line-height: normal;
}


.main-hero .banner .message button{
    border-radius: 10px;
    background: linear-gradient(180deg, rgb(129, 22, 154) 0%, rgb(85, 7, 155) 44.27%, rgb(65, 0, 152) 100%);
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    width: 72px;
    height: 14px;
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 6px;
    letter-spacing: 0;
    line-height: normal;
    border: transparent;
}

.main-hero .banner img{
    width: 196px;
    height: 90px;
}

/* PRODUCTS */


.products{
    /* box-shadow: 0px 4px 4px #00000040; */
    /* background-color: red; */
    width: 360px;
    padding-bottom: 10px;
}

.products h3{
    margin: 11px 145px;
    font-size: 10px;
}

.products .products-catalog{
    gap: 26px;
}

.products .products-catalog .product{
    gap: 9px;
    font-size: 8px;
}

.products .products-catalog .product img{
    width: 33px;
    height: 24px;
}

/* FEATURES */



.features{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 33px;
    padding-bottom: 60px;
}



.features .feature img{
    width: 22px;
    height: 20px;
}

.features .feature p{
    font-size: 8px;
}

.ad{
    margin: 10px 20px;
    width: 330px;
    height: 40px;
    padding-bottom: 5px;
}

    
/* CALL Scheduler */



.call-scheduler-container{
    width: 328px;
    /* height: 620px; */
    margin: 16px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 10px #00000040;
}

.call-scheduler img{
    display: none;
}

.call-scheduler-container h3{
    font-size: 10px;
    padding-top: 8px;
    text-align: center;
}

.call-scheduler-container .call-scheduler{
    display: block;
    /* gap: 10px; */
    margin-top: 10px;
}

.call-scheduler-container .call-scheduler form{
    margin: 10px 80px;
}


.call-scheduler-container .call-scheduler form label{
    font-size: 6px;
    /* display: block; */
}

.call-scheduler-container .call-scheduler form .radio-label{
    margin: 1px;
}

/* .call-scheduler-container .call-scheduler form #updates{
    display: inline-block;
} */

input {
    width: 100%;
    width: 165px;
    height: 20px;   
    padding: 0px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid;
    border-color: #272329;
}

input[type="radio"] {
    width: 8px;
    /* display: inline-block; */
    /* vertical-align: middle; */
}


input[type="submit"]{
    width: 150px;
    height: 20px;
    font-size: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}



/* RATINGS */


.ratings{
    margin: 30px 50px;
    text-align: center;
}

.ratings h2{

    font-size: 10px;

}

.ratings h3{
    font-size: 8px;
    margin-top: 11px;
    margin-bottom: 6px;
}

.ratings h4{
    font-size: 8px;
}


.ratings img{
    width: 200px;
    height: 40px;
}

.review-header 
{
    margin: 30px 5px;
}

.review-header .JS-insurance{
    text-align: center;
    font-size: 10px;
}

.review-header .text-wrapper{
    color: #55079b;
}

.review-header span{
    color: #272329;
}

.review-header .reviews .review{
    font-size: 8px;
    gap: 5rem;
}

.review-header .reviews img{
    width: 200px;
    height: 90px;
}

/* COMPANIES */


.companies{

    width: 330px;
    height: 75px;
    margin: 50px 16px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 10px #00000040;
}
    
.companies h2{
        padding-top: 8px;
        margin-left: 94px;
        margin-right: 94px;
        font-family: "Martel Sans-Bold", Helvetica;
        font-weight: 700;
        color: var(--variable-collection-js-black);
        font-size: 10px;
        letter-spacing: 0;
        line-height: normal;
    
}
    
.companies .company-logos{
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 15px;
}
    
.companies .company-logos img{
    width: 45px;
    height: 25px;

}

/* TESTIMONIALS */



.testimonials-container{
    width: 325px;
height: 1150px;
margin: 20px 18px;
background-color: #ffffff;
border-radius: 5px;
box-shadow: 4px 4px 10px #00000040;
}

.testimonials-container h2{
    font-size: 10px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
}

.testimonials-container .testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 34px;
    margin-top: 20px;
}

.testimonials-container .testimonials .testimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-container .testimonials .testimony img{
    width: 130px;
    height: 130px;
}

.testimonials-container .testimonials .testimony .customer-name{
    text-align: center;
    font-size: 10px;
}

.testimonials-container .testimonials .testimony p{
    text-align: center;
font-size: 9px;
line-height: 16px;

}


.bottom-call{
    border-radius: 4px;
    background: linear-gradient(180deg, rgb(129, 22, 154) 0%, rgb(85, 7, 155) 44.27%, rgb(65, 0, 152) 100%);
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    width: 154px;
    height: 30px;
    margin: 20px 103px;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    border: transparent;
}


.footer-bar{
    background: #55079B;
}

.footer-bar h3{
    color: white;
    padding-top: 65px;
    margin-left: 50px;
    font-size: 10px;
    
}

.footer-bar p{
    color: white;
    /* padding-top: 65px; */
    margin-left: 50px;
    font-size: 8px;
}

.footer-bar .copyright-text{
    margin: 10px 0px;
    text-align: center;
    font-family: "Martel Sans-Light", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 6px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    padding-bottom: 50px;
}


/* MOTOR INSURANCE PAGE */

.motor-banner{
    flex-direction: column-reverse;
    /* text-align: center; */
}

.motor-banner img{
    width: 370px;
    height: 290px;
}

.motor-banner .banner-message{
display: flex;
flex-direction: column;
justify-content: left;
align-items: center;    
}

.motor-banner .banner-message h1{
    font-size: 16px;
    color: #55079B;

}

.motor-banner .banner-message h1 span{
    font-size: 10px;
    color:#272329
}

.motor-banner .banner-message p{
    font-family: "Martel Sans-Regular", Helvetica;
    font-weight: 400;
    color: #272329;
    font-size: 9px;
    text-align: center;
    letter-spacing: 0;
    line-height: 2;
}

.motor-banner .banner-message p br{
    display: none;
}

.motor-banner .banner-message .get-insured{
    padding: 5px 41px;
    border-radius: 4px;
    font-size: 8px;
}

.motor-center{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.motor-center img{
    width: 300px;
    height: 170px;
}

.motor-center .user-form{
    width: 328px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    text-align: center;
}
.motor-center .user-form form
{
    padding-bottom: 10px;

}

.motor-center .user-form input,select{
    width: 297px;
    height: 40px;
    text-align: center;
}

.motor-center .user-form h1{

    font-size: 14px;

}

.motor-center .user-form h3{

    color: #55079B;
    font-size: 12px;

}


.motor-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 125px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    margin-bottom: 50px;
    padding-bottom: 45px;
}

.motor-bottom .motor-bottom-message h1{
    font-family: "Martel Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}

.motor-bottom .motor-bottom-message h1 span{
    color: #55079b;
}

.motor-bottom .motor-bottom-message p{
    font-family: "Martel Sans-Regular", Helvetica;
    font-weight: 400;
    color: #272329;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;

}


.motor-bottom img{
    width: 270px;
}


}